
  

@import 'swiper/css';
@import 'swiper/css/effect-fade';
@import 'swiper/css/navigation';



@tailwind base;
@tailwind components;
@tailwind utilities;
  

@keyframes breathe {
  0%, 100% { transform: scale(1); opacity: 0.8; }
  50% { transform: scale(1.4); opacity: 1; }
}

.animate-breathe {
  animation: breathe 12s infinite;
}
